# Before your start:
- Comment as much as you can
- Happy learning!

In [2]:
import numpy as np
import pandas as pd

# Challenge - Inside a function
You are already familiar with several built in functions on python as well as libraries. Let's try to figure out how they are made in pure python.

Create a function that returns the count of a list of numbers

In [33]:
# Your code here:
list_numbers=[1,2,3,4,5,6] #lista criada somente para testar o resultado
def count(lista):
    """This function calculate the lenght of a list"""
    x=len(lista)
    return x
count(list_numbers)

6

Create a function that returns the mean of a list of numbers

In [36]:
# Your code here:
list_numbers=[1,2,3,4,5,6] #lista criada somente para testar o resultado
def mean(lista):
    """This function calculate the mean of a list"""
    mean=sum(list_numbers)/len(lista)
    return mean
mean(list_numbers)

3.5

Create a function that returns the standard deviation of a list of numbers using the previous functions you created.

In [59]:
# Your code here:

list_numbers=[1,2,3,4,5,6] #lista criada somente para testar o resultado

# Função:
def standard_deviation(lista):
    soma=0
    for i in range(len(lista)):
        soma=soma+(lista[i]-mean(lista))**2
    sd=(soma/count(lista))**(1/2)
    return sd

standard_deviation(list_numbers)

1.707825127659933

Create a function that returns the count, mean and standard deviation of a given list. Document this function using triple quotes, your documentation should have description, parameters, returns and examples.

In [157]:
# Your code here:
def triple(lista):
    """This function return the count, mean and standard deviation of a given list, in this sequence.
    Parameters: lista
    Returns: count - returns the count the lenght of the list
             mean  - returns the mean the of the list
             sd    - returns the standard deviation of the list
    Exemple: 
             triple([1,2,3,4,5,6])= (6, 3.5, 1.707825127659933)"""
    count=len(lista)
    mean=sum(list_numbers)/len(lista)
    soma=0
    for i in range(len(lista)):
        soma=soma+(lista[i]-(sum(lista)/len(lista)))**2
    sd=(soma/len(lista))**(1/2)
    return count, mean, sd

# Challenge  - String Cleaning
When working with textual data you will often have to clean it before being able to analyze it. Create a function that receives a string and returns that string in all lower case, without special characters and in alphabetical order.

In [1]:
# Your code here:

import re

def function(string):
    """ This function receives a string and returns that string in all lower case, without special characters and in alphabetical order.
    Input Type:string
    Output type: string
    
    Example:
    Input: function('Hello WoRlD!)' 
    Output: 'helloworld' """
    y=string.split() #separa as palavras
    y.sort() #cria uma lista em ordem alfabética
    y=' '.join(y)  #transforma a lista em string
    y = string.lower() #passa todos os caracteres para letra minúscula
    y = re.findall('\w', y) #mantém somente letras e números, em forma de lista
    y=''.join(y) #transforma a lista em string 
    return y

# Challenge  - Classification
Sometimes datasets provide very good and precise information but not in the way we need to use it. In this challenge, make a function that takes a numeric value (age or income for example) and turns it into a category (could be from Very Low to Very High or rated from 0 to 10).

In [146]:
# Your code here:

x=int(input("Digit your age:"))
if x<50:
    print('Very low')
elif x>=50:
    print('Very high')

Digit your age:100
Very high

# Challenge  - Recursion 
In some cases it is interesting to build a function that calls itself. Use a recursive function that asks for an input from the users age and keeps asking for it until the input is a number between 0 and 150.

In [53]:
# Your code here:

def function_rule():
    users_age=int(input("Digit your age:")) 

    while users_age not in range(1,150):
        users_age=function_rule()
        print(f'Number is now {users_age}')
    
    return users_age

function_rule()

Digit your age:150
Digit your age:149
Number is now 149

149

# Challenge - Global and local variables

Make a function that returns the buzz string in alphabetical order  

Expected output:
````python
'AI Big Data Data Warehouse Machine Learning Pipeline'
````

In [90]:
buzz = "Big Data, Machine Learning, AI, Data Warehouse, Pipeline"

def alphabetical(buzz):
    x=buzz.split() #separa a string por frases
    x.sort() #ordena a string em ordem alfabética
    x=' '.join(x) #transforma de lista em texto
    x=x.replace(",", ""); #remove as vírgulas
    return x

alphabetical(buzz)

'AI Big Data Data Learning Machine Pipeline Warehouse'

Make a function without return that modifies the buzz string and puts it in alphabetical order

Expected output:
````python
'AI Big Data Data Warehouse Machine Learning Pipeline'
````

In [92]:
buzz = "Big Data, Machine Learning, AI, Data Warehouse, Pipeline"

def alphabetical(buzz):
    x=buzz.split() #separa a string por frases
    x.sort() #ordena a string em ordem alfabética
    x=' '.join(x) #transforma de lista em texto
    x=x.replace(",", ""); #remove as vírgulas
    return

alphabetical(buzz)

# Bonus Challenge  - Applying Functions to DataFrames

In this challenge, we will look at how to transform cells or entire columns at once.

In [77]:
import pandas as pd

In [97]:
iris_numeric = pd.DataFrame(data =[[5.1,3.5,1.4,0.2], [4.9,3,1.4,0.2],[4.7,3.2,1.3,0.2],[4.6,3.1,1.5,0.2],[5,3.6,1.4,0.2],[5.4,3.9,1.7,0.4],[4.6,3.4,1.4,0.3],[5,3.4,1.5,0.2],[4.4,2.9,1.4,0.2],[4.9,3.1,1.5,0.1]],columns = ['sepal_length', 'sepal_width', 'petal_length','petal_width'])

Let's look at the dataset using the `head` function.

Expected output:

|    |   sepal_length |   sepal_width |   petal_length |   petal_width |
|---:|---------------:|--------------:|---------------:|--------------:|
|  0 |            5.1 |           3.5 |            1.4 |           0.2 |
|  1 |            4.9 |           3   |            1.4 |           0.2 |
|  2 |            4.7 |           3.2 |            1.3 |           0.2 |
|  3 |            4.6 |           3.1 |            1.5 |           0.2 |
|  4 |            5   |           3.6 |            1.4 |           0.2 |

In [98]:
# Your code here:
iris_numeric.head(5)

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

Let's start off by using built-in functions. Try to use the numpy mean function and describe what happens in the comments of the code.

Expected output:
````python
sepal_length    4.86
sepal_width     3.31
petal_length    1.45
petal_width     0.22
dtype: float64
````

In [99]:
import numpy as np 
     
print(np.mean(iris_numeric.head(5)))  #This function returns the mean of each column

sepal_length    4.86
sepal_width     3.28
petal_length    1.40
petal_width     0.20
dtype: float64

Next, we'll use the standard deviation function in numpy (np.std). Describe what happened in the comments.

Expected output:
````python
sepal_length    0.291357
sepal_width     0.307137
petal_length    0.108012
petal_width     0.078881
dtype: float64
````

In [100]:
print(np.std(iris_numeric.head(5)))

sepal_length    0.185472
sepal_width     0.231517
petal_length    0.063246
petal_width     0.000000
dtype: float64

The measurements are in centimeters. Let's convert them all to inches. We will write a function that converts centimeters to inches in the cell below. Recall that 1cm = 0.393701in.

In [108]:
def cm_to_in(x):
    # This function takes in a numeric value in centimeters and converts it to inches
    # Input: numeric value
    # Output: float
    
    # Sample Input: 1.0
    # Sample Output: 0.393701
    
    # Your code here:
    y=x*0.393701
    return y

#Testando o funcionamento
cm_to_in(2)

0.787402

Now convert all columns in `iris_numeric` to inches in the cell below. We like to think of functional transformations as immutable. Therefore, save the transformed data in a dataframe called `iris_inch`.

In [115]:
# Your code here:

iris_inch=cm_to_in(iris_numeric)
iris_inch

   sepal_length  sepal_width  petal_length  petal_width
0      2.007875     1.377954      0.551181      0.07874
1      1.929135     1.181103      0.551181      0.07874
2      1.850395     1.259843      0.511811      0.07874
3      1.811025     1.220473      0.590552      0.07874
4      1.968505     1.417324      0.551181      0.07874
5      2.125985     1.535434      0.669292      0.15748
6      1.811025     1.338583      0.551181      0.11811
7      1.968505     1.338583      0.590552      0.07874
8      1.732284     1.141733      0.551181      0.07874
9      1.929135     1.220473      0.590552      0.03937

We have just found that the original measurements were off by a constant. Define the global constant `error` and set it to 2. Write a function that uses the global constant and adds it to each cell in the dataframe. Apply this function to `iris_numeric` and save the result in `iris_constant`.

In [117]:
# Define constant below:


def add_constant(x):
    # This function adds a global constant to our input.
    # Input: numeric value
    # Output: numeric value
    
    # Your code here:
    y=x+2
    return y

iris_constant=add_constant(iris_numeric)
iris_constant

   sepal_length  sepal_width  petal_length  petal_width
0           7.1          5.5           3.4          2.2
1           6.9          5.0           3.4          2.2
2           6.7          5.2           3.3          2.2
3           6.6          5.1           3.5          2.2
4           7.0          5.6           3.4          2.2
5           7.4          5.9           3.7          2.4
6           6.6          5.4           3.4          2.3
7           7.0          5.4           3.5          2.2
8           6.4          4.9           3.4          2.2
9           6.9          5.1           3.5          2.1

Read more about applying functions to either rows or columns [here](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.apply.html) and write a function that computes the maximum value for each row of `iris_numeric`

In [120]:
# Your code here:
iris_numeric.apply(np.max, axis=1)

0    5.1
1    4.9
2    4.7
3    4.6
4    5.0
5    5.4
6    4.6
7    5.0
8    4.4
9    4.9
dtype: float64

Compute the combined lengths for each row and the combined widths for each row using a function. Assign these values to new columns `total_length` and `total_width`.

In [128]:
# Your code here:
#df = pd.DataFrame({'a': [1,2,3], 'b': [2,3,4], 'c':['dd','ee','ff'], 'd':[5,9,1]})
iris_numeric['total_length'] = iris_numeric['sepal_length']+iris_numeric['petal_length']
iris_numeric['total_width'] = iris_numeric['sepal_width']+iris_numeric['petal_width']
#df
iris_numeric

#'sepal_length', 'sepal_width', 'petal_length','petal_width

,sepal_length,sepal_width,petal_length,petal_width,total_length,total_width
0,5.1,3.5,1.4,0.2,6.5,3.7
1,4.9,3.0,1.4,0.2,6.3,3.2
2,4.7,3.2,1.3,0.2,6.0,3.4
3,4.6,3.1,1.5,0.2,6.1,3.3
4,5.0,3.6,1.4,0.2,6.4,3.8
5,5.4,3.9,1.7,0.4,7.1,4.3
6,4.6,3.4,1.4,0.3,6.0,3.7
7,5.0,3.4,1.5,0.2,6.5,3.6
8,4.4,2.9,1.4,0.2,5.8,3.1
9,4.9,3.1,1.5,0.1,6.4,3.2