## Challenge 1: Tuples

#### Do you know you can create tuples with only one element?

**In the cell below, define a variable `tup` with a single element `"I"`.**

*Hint: you need to add a comma (`,`) after the single element.*

In [1]:
a = ('I')

In [2]:
type(a)

str

- Please note that the variable 'a' is a string, not a tuple. In order to return a tuple with one element you should include a comma in the end

In [3]:
tup = ('I',)

#### Print the type of `tup`. 

Make sure its type is correct (i.e. *tuple* instead of *str*).

In [4]:
type(tup)

tuple

- You can also use parentheses if the tuple has more than one element

In [5]:
b = ('I', 'J')

In [6]:
type(b)

tuple

#### Now try to append the following elements to `tup`. 

Are you able to do it? Explain.

```
"r", "o", "n", "h", "a", "c", "k",
```

- We already know that tuples are immutable, and so can't change which variables after they were assigned;
- However, we can concatenate or slice them to form new tuples

In [7]:
# sum up new elements to an exitent tuple with the plus sign '+' operator
tup + ("r", "o", "n", "h", "a", "c", "k")

('I', 'r', 'o', 'n', 'h', 'a', 'c', 'k')

###### Your explanation here
* In order to append an element to a tuple, we need to sum up the new data using the plus operator '+'

#### How about re-assign a new value to an existing tuple?

Re-assign the following elements to `tup`. Are you able to do it? Explain.

```
"I", "r", "o", "n", "h", "a", "c", "k"
```

In [8]:
# Your code here
tup = ("I", "r", "o", "n", "h", "a", "c", "k")

#### Split `tup` into `tup1` and `tup2` with 4 elements in each. 

`tup1` should be `("I", "r", "o", "n")` and `tup2` should be `("h", "a", "c", "k")`.

*Hint: use positive index numbers for `tup1` assignment and use negative index numbers for `tup2` assignment. Positive index numbers count from the beginning whereas negative index numbers count from the end of the sequence.*

Also print `tup1` and `tup2`.

* Tuples are immutable, but still be sliced, concatenated, and so on -- the indexes start at 0, as lists

* Note that we can reach specific elements from a tuple using indexes:
The positive indexes goes from 0 until the length of the tuple
The negative ones start in the oposite side starting from -1 
![title](https://v4.software-carpentry.org/python/slice/014.png)
[Source](https://v4.software-carpentry.org/python/slice.html)

In [9]:
# We can use brackets to slice a tuple, passing an index or a range of indexes
# In the case below, the slice goes from 0 until the index 4
tup1 = tup[0:4]

In [10]:
tup1

('I', 'r', 'o', 'n')

In [11]:
# now let's slice the 4 last elements, using the negative index
tup2 = tup[-4:]

In [12]:
tup2

('h', 'a', 'c', 'k')

#### Add `tup1` and `tup2` into `tup3` using the `+` operator.

Then print `tup3` and check if `tup3` equals to `tup`.

In [13]:
# Using the '+' operator to concatenate the tuples
tup3 = tup1+tup2

In [14]:
tup3

('I', 'r', 'o', 'n', 'h', 'a', 'c', 'k')

#### Count the number of elements in `tup1` and `tup2`. Then add the two counts together and check if the sum is the same as the number of elements in `tup3`

In [15]:
# We can also use the function len() to return the number of elements in each tuple
print("n elements forming tup1:", len(tup1))
print("n elements forming tup2:", len(tup2))
print("n elements forming tup3:", len(tup3))
print("n elements forming tup1 + tup2:", len(tup1)+len(tup2))

n elements forming tup1: 4
n elements forming tup2: 4
n elements forming tup3: 8
n elements forming tup1 + tup2: 8

#### What is the index number of `"h"` in `tup3`?

In [16]:
# Find the index of a specific element passing it as an argument of .index() method
tup3.index('h')

4

#### Now, use a FOR loop to check whether each letter in the following list is present in `tup3`:

```
letters = ["a", "b", "c", "d", "e"]
```

For each letter you check, print `True` if it is present in `tup3` otherwise print `False`.

*Hint: you only need to loop `letters`. You don't need to loop `tup3` because there is a Python operator `in` you can use. See [reference](https://stackoverflow.com/questions/17920147/how-to-check-if-a-tuple-contains-an-element-in-python).*

In [17]:
# Define a variable with a list of strings
letters = ["a", "b", "c", "d", "e"]

In [18]:
l_in_tup3 = []
# iterate through the list letters to 
for i in letters:
    # check if each letter in letters is contained in tup3
    # if so
    if i in tup3:
        # print True
        l_in_tup3.append(True)
        # otherwise
    else:
        # print false
        l_in_tup3.append(False)

In [19]:
l_in_tup3

[True, False, True, False, False]

In [20]:
#Other method
# using a list comprehension to perform the for loop
# condensing 6 lines in only one
l_in_tup3 = [
    # we can start a list comprehention with the conditiona
    True if i in tup3 else False 
    # and then iterate through each element
    for i in letters]

In [21]:
print(l_in_tup3)

[True, False, True, False, False]

#### How many times does each letter in `letters` appear in `tup3`?

Print out the number of occurrence of each letter.

In [22]:
# count the number of True using the method .count
l_in_tup3.count(True)

2

In [23]:
# iterate through the list letters to
for i in letters:
    count_letters = 0
    # iterate through the tup3 letters to
    # comparing each letter in letters with all letters in tup3
    for j in tup3: 
        if i == j:
            count_letters += 1
    # shows the result and goes to the next letter in letters       
    print (i, ':', count_letters)

a : 1
b : 0
c : 1
d : 0
e : 0

## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

`random` is a Python library that, for this propouse, we just wanna save some time selecting a sample of numbers from a list.

* check it out: https://docs.python.org/3/library/random.html

In [24]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer among 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

__First step__: create a list of integer called population using range() and list() functions.

__IMPORTANT__:
the second argument from the function range() is exclusive, which means that if you want to include the number 100, you should consider 101.

In [25]:
# method 1 to create a list using range()
population = list(range(101))
population = list(range(0, 101))

In [26]:
print(population)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [27]:
# method 2 to create a list using list comprehension
population = [i for i in range(0, 101)]
population = [i for i in range(101)]

In [28]:
print(population)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

__Second step__:
* Now that we have a list with elements from 0 to 100, let's select a random sample from the created list using the function sample() from the library `random`.

random.sample() receives two parameters: population and k, accordingly to the documentation:

`random.sample(population, k)`

- population refers to the total amount of numbers, in this case the sample_list_1, and
- k is the number of elements we want to select

__IMPORTANT__: be aware of the type of data structure we're handling:
random.sample receives any sequence (list, tuple) or set, but not a dictionary, and returns a list.

In [29]:
# call sample() function from random
sample_list_1 = random.sample(
        # the first argument is a list we're just created
        population, 
        # the number of elements we want as a sample
        80)

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [30]:
len(sample_list_1)

80

In [31]:
# calling the set function t
# set returns the unique elements from a list
# len(set) will be different from len(sample_list_1) if we failed to create a list in whitch "Each value in the list is unique."

set1 = set(sample_list_1)

In [32]:
print(len(set1))

80

- `range()` is versatile function that help us to create a range of numbers.

We're familiar with sequencial unique numbers, but there's more possibilities.
Let's explore range() arguments:

`range(start, stop, step)`

Documentation can always help: https://docs.python.org/3/tutorial/controlflow.html

And some tutorials as well: https://www.pythoncentral.io/pythons-range-function-explained/

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [33]:
# method 1

# create empty list
sample_list_2 = []

# running 80 times
for i in range(80):
    # generate a random number
    random_number = random.randint(1,100)
    #add the random number to the list
    sample_list_2.append(random_number)

In [34]:
# method 2 - using list comprehension
sample_list_2 = [random.randint(1,100) for c in range(80)]

In [35]:
print(sample_list_2)

[49, 96, 94, 28, 75, 2, 90, 41, 86, 96, 25, 71, 15, 34, 82, 87, 7, 58, 60, 95, 80, 76, 6, 16, 10, 45, 37, 21, 18, 87, 19, 74, 22, 25, 65, 61, 11, 48, 71, 17, 82, 37, 27, 81, 47, 19, 65, 95, 32, 49, 56, 26, 17, 34, 76, 87, 2, 16, 60, 40, 30, 29, 77, 16, 83, 5, 40, 25, 58, 89, 7, 92, 40, 38, 25, 48, 78, 100, 98, 51]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [36]:
print(len(sample_list_2))

80

In [37]:
# transform a list into a set -- again
set2 = (set(sample_list_2))

In [38]:
# the set fuunction eliminates the repetited numbers 
#since sample_list_2 is not composed of unique values len(set2) will be smaller than sample_list_2
print(len(set2))

55

### Operating on a Set

We can perform operation on a set using 
* for loops
* operators
* methods

[Source](https://realpython.com/python-sets/)

Let's explore those methods ahead:

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

Tip: elements present in A, but not in B
![title](https://www.geeksforgeeks.org/wp-content/uploads/set-difference.jpg)
[Source](https://www.geeksforgeeks.org/python-set-difference/)

In [39]:
# Method1: substract the set2
set3_m1 = set1-set2

In [40]:
print(len(set3_m1))

36

In [41]:
print(set3_m1)

{0, 1, 3, 8, 12, 13, 14, 20, 23, 24, 31, 33, 35, 36, 43, 46, 50, 53, 55, 57, 59, 63, 64, 66, 67, 68, 69, 70, 72, 73, 79, 84, 85, 88, 91, 93}

In [42]:
# Method2: list comprehension
# iterate through set1 and return the elemtns not present in set2
set3_m2 = set([
    # element to be returned
    i 
    # iterate through set1
    for i in set1 
    # conditional: only if 1 is not contained at set2
    if i not in set2])

In [43]:
# note that the resulting element is a set, as we call set() function
type(set3_m2)

set

In [44]:
print(len(set3_m2))

36

In [45]:
print(set3_m2)

{0, 1, 3, 8, 12, 13, 14, 20, 23, 24, 31, 33, 35, 36, 43, 46, 50, 53, 55, 57, 59, 63, 64, 66, 67, 68, 69, 70, 72, 73, 79, 84, 85, 88, 91, 93}

In [46]:
# comparing method1 to method2
# As it returns True, we have the same set
set3_m2 == set3_m1

True

In [47]:
# Method3: using the difference() function
set3_m3 = set1.difference(set2)

In [48]:
print(len(set3_m3))

36

In [49]:
print(set3_m3)

{0, 1, 3, 8, 12, 13, 14, 20, 23, 24, 31, 33, 35, 36, 43, 46, 50, 53, 55, 57, 59, 63, 64, 66, 67, 68, 69, 70, 72, 73, 79, 84, 85, 88, 91, 93}

In [50]:
# comparing method3 to method2
# It also returns True
set3_m3 == set3_m2

True

In [51]:
set3 = set3_m3

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [52]:
# Now let's compare elements in set3, but not in the set1
# let's go directly using difference() function
set4 = set2.difference(set1)

In [53]:
# the result is an empty set
print(set4)

{89, 37, 38, 40, 45, 47, 19, 51, 87, 25, 58}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

* The `intesection()` method returns the shared elements fom x1 and x2, as showed below:

![title](https://files.realpython.com/media/t.9c6d33717cdc.png)
[Source](https://realpython.com/python-sets/)

In [54]:
# calling intersenction method 
set5 = set1.intersection(set2)

In [55]:
print(set5)

{2, 5, 6, 7, 10, 11, 15, 16, 17, 18, 21, 22, 26, 27, 28, 29, 30, 32, 34, 41, 48, 49, 56, 60, 61, 65, 71, 74, 75, 76, 77, 78, 80, 81, 82, 83, 86, 90, 92, 94, 95, 96, 98, 100}

In [56]:
print(len(set5))

44

In [57]:
# note: the intersecntion of set1 and set2 is the same as set2 and set1
set5_2 = set2.intersection(set1)

In [58]:
# comparing the resolting sets
set5 == set5_2

True

In [59]:
print(set5_2)

{2, 5, 6, 7, 10, 11, 15, 16, 17, 18, 21, 22, 26, 27, 28, 29, 30, 32, 34, 41, 48, 49, 56, 60, 61, 65, 71, 74, 75, 76, 77, 78, 80, 81, 82, 83, 86, 90, 92, 94, 95, 96, 98, 100}

In [60]:
print(len(set5_2))

44

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [61]:
# printing the length of each sets
print(len(set1))
print(len(set2))
print(len(set3))
print(len(set4))
print(len(set5))

80
55
36
11
44

#### Create an empty set called `set6`.

In [62]:
# Your code here
set6 = set()

In [63]:
type(set6)

set

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

#### Difference between set.add() and set.update()
* `set.add()` adds a single element to a set
* `set.update()` sum up an iterable

In [64]:
set6.update(set3, set5)

In [65]:
print(set6)

{0, 1, 2, 3, 5, 6, 7, 8, 10, 11, 12, 13, 14, 15, 16, 17, 18, 20, 21, 22, 23, 24, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 41, 43, 46, 48, 49, 50, 53, 55, 56, 57, 59, 60, 61, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 88, 90, 91, 92, 93, 94, 95, 96, 98, 100}

#### Check if `set1` and `set6` are equal.

In [66]:
# comparing 2 sets
set1==set6

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [67]:
# returns True if all itens of set1 are present in set2
set1.issubset(set2)

False

In [68]:
# returns True if all itens of set2 are present in set3
set3.issubset(set1)

True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [69]:
# Your code here
print(set3.union(set4, set5))

{0, 1, 2, 3, 5, 6, 7, 8, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 40, 41, 43, 45, 46, 47, 48, 49, 50, 51, 53, 55, 56, 57, 58, 59, 60, 61, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 98, 100}

In [70]:
print(set1.union(set2))

{0, 1, 2, 3, 5, 6, 7, 8, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 40, 41, 43, 45, 46, 47, 48, 49, 50, 51, 53, 55, 56, 57, 58, 59, 60, 61, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 98, 100}

In [71]:
set1.union(set2) == set3.union(set4, set5)

True

#### Using the `pop` method, remove a random element from `set1`.

In [72]:
# measure the number of elements in set1
len(set1)

80

In [73]:
# drop one random element from the set
set1.pop()

0

In [74]:
# measure the number of elements again
# the pop function subtracted one element from the set
len(set1)

79

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [75]:
# define the list of elements to be removed from set1
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

In [76]:
# iterate through the list_to_remove passing each element to remove() method
for i in list_to_remove:
    # check if the element is in the set
    if i in set1:
        set1.remove(i)

In [77]:
print(set1)

{2, 3, 5, 6, 7, 8, 10, 12, 13, 14, 15, 16, 17, 18, 20, 22, 23, 24, 26, 27, 28, 30, 32, 33, 34, 35, 36, 43, 46, 48, 50, 53, 55, 56, 57, 60, 63, 64, 65, 66, 67, 68, 70, 72, 73, 74, 75, 76, 77, 78, 80, 82, 83, 84, 85, 86, 88, 90, 92, 93, 94, 95, 96, 98, 100}

## Challenge 3: Dictionaries

In this challenge you will practice how to manipulate Python dictionaries. Before starting on this challenge, you are encouraged to review W3School's [Python Dictionary Examples and Methods](https://www.w3schools.com/python/python_dictionaries.asp).

First thing you will practice is how to sort the keys in a dictionary. Unlike the list object, Python dictionary does not have a built-in *sort* method. You'll need to use FOR loops to to sort dictionaries either by key or by value.

The dictionary below is a summary of the word frequency of Ed Sheeran's song *Shape of You*. Each key is a word in the lyrics and the value is the number of times that word appears in the lyrics.

In [78]:
# defining a dictionary
dictionary = {'love': 30}

In [79]:
# note that it only has one element: a pair of key value
len(dictionary)

1

In [80]:
# accesing the keys using the method keys()
dictionary.keys()

dict_keys(['love'])

In [81]:
# accessing the values using values() method
dictionary.values()

dict_values([30])

In [82]:
dictionary.items()

dict_items([('love', 30)])

* Now, let's move to the exercise

In [83]:
# define a dictionary
word_freq = {'love': 25, 'conversation': 1, 'every': 6, "we're": 1, 'plate': 1, 'sour': 1, 'jukebox': 1, 'now': 11, 'taxi': 1, 'fast': 1, 'bag': 1, 'man': 1, 'push': 3, 'baby': 14, 'going': 1, 'you': 16, "don't": 2, 'one': 1, 'mind': 2, 'backseat': 1, 'friends': 1, 'then': 3, 'know': 2, 'take': 1, 'play': 1, 'okay': 1, 'so': 2, 'begin': 1, 'start': 2, 'over': 1, 'body': 17, 'boy': 2, 'just': 1, 'we': 7, 'are': 1, 'girl': 2, 'tell': 1, 'singing': 2, 'drinking': 1, 'put': 3, 'our': 1, 'where': 1, "i'll": 1, 'all': 1, "isn't": 1, 'make': 1, 'lover': 1, 'get': 1, 'radio': 1, 'give': 1, "i'm": 23, 'like': 10, 'can': 1, 'doing': 2, 'with': 22, 'club': 1, 'come': 37, 'it': 1, 'somebody': 2, 'handmade': 2, 'out': 1, 'new': 6, 'room': 3, 'chance': 1, 'follow': 6, 'in': 27, 'may': 2, 'brand': 6, 'that': 2, 'magnet': 3, 'up': 3, 'first': 1, 'and': 23, 'pull': 3, 'of': 6, 'table': 1, 'much': 2, 'last': 3, 'i': 6, 'thrifty': 1, 'grab': 2, 'was': 2, 'driver': 1, 'slow': 1, 'dance': 1, 'the': 18, 'say': 2, 'trust': 1, 'family': 1, 'week': 1, 'date': 1, 'me': 10, 'do': 3, 'waist': 2, 'smell': 3, 'day': 6, 'although': 3, 'your': 21, 'leave': 1, 'want': 2, "let's": 2, 'lead': 6, 'at': 1, 'hand': 1, 'how': 1, 'talk': 4, 'not': 2, 'eat': 1, 'falling': 3, 'about': 1, 'story': 1, 'sweet': 1, 'best': 1, 'crazy': 2, 'let': 1, 'too': 5, 'van': 1, 'shots': 1, 'go': 2, 'to': 2, 'a': 8, 'my': 33, 'is': 5, 'place': 1, 'find': 1, 'shape': 6, 'on': 40, 'kiss': 1, 'were': 3, 'night': 3, 'heart': 3, 'for': 3, 'discovering': 6, 'something': 6, 'be': 16, 'bedsheets': 3, 'fill': 2, 'hours': 2, 'stop': 1, 'bar': 1}

In [84]:
# length 140 pairs
len(word_freq)

140

In [85]:
print(word_freq)

{'love': 25, 'conversation': 1, 'every': 6, "we're": 1, 'plate': 1, 'sour': 1, 'jukebox': 1, 'now': 11, 'taxi': 1, 'fast': 1, 'bag': 1, 'man': 1, 'push': 3, 'baby': 14, 'going': 1, 'you': 16, "don't": 2, 'one': 1, 'mind': 2, 'backseat': 1, 'friends': 1, 'then': 3, 'know': 2, 'take': 1, 'play': 1, 'okay': 1, 'so': 2, 'begin': 1, 'start': 2, 'over': 1, 'body': 17, 'boy': 2, 'just': 1, 'we': 7, 'are': 1, 'girl': 2, 'tell': 1, 'singing': 2, 'drinking': 1, 'put': 3, 'our': 1, 'where': 1, "i'll": 1, 'all': 1, "isn't": 1, 'make': 1, 'lover': 1, 'get': 1, 'radio': 1, 'give': 1, "i'm": 23, 'like': 10, 'can': 1, 'doing': 2, 'with': 22, 'club': 1, 'come': 37, 'it': 1, 'somebody': 2, 'handmade': 2, 'out': 1, 'new': 6, 'room': 3, 'chance': 1, 'follow': 6, 'in': 27, 'may': 2, 'brand': 6, 'that': 2, 'magnet': 3, 'up': 3, 'first': 1, 'and': 23, 'pull': 3, 'of': 6, 'table': 1, 'much': 2, 'last': 3, 'i': 6, 'thrifty': 1, 'grab': 2, 'was': 2, 'driver': 1, 'slow': 1, 'dance': 1, 'the': 18, 'say': 2, 'trust': 1, 'family': 1, 'week': 1, 'date': 1, 'me': 10, 'do': 3, 'waist': 2, 'smell': 3, 'day': 6, 'although': 3, 'your': 21, 'leave': 1, 'want': 2, "let's": 2, 'lead': 6, 'at': 1, 'hand': 1, 'how': 1, 'talk': 4, 'not': 2, 'eat': 1, 'falling': 3, 'about': 1, 'story': 1, 'sweet': 1, 'best': 1, 'crazy': 2, 'let': 1, 'too': 5, 'van': 1, 'shots': 1, 'go': 2, 'to': 2, 'a': 8, 'my': 33, 'is': 5, 'place': 1, 'find': 1, 'shape': 6, 'on': 40, 'kiss': 1, 'were': 3, 'night': 3, 'heart': 3, 'for': 3, 'discovering': 6, 'something': 6, 'be': 16, 'bedsheets': 3, 'fill': 2, 'hours': 2, 'stop': 1, 'bar': 1}

#### Sort the keys of `word_freq` ascendingly.

Please create a new dictionary called `word_freq2` based on `word_freq` with the keys sorted ascedingly.

There are several ways to achieve that goal but many of the ways are beyond what we have covered so far in the course. There is one way that we'll describe employing what you have learned. Please feel free to use this way or any other way you want.

1. First extract the keys of `word_freq` and convert it to a list called `keys`.

1. Sort the `keys` list.

1. Create an empty dictionary `word_freq2`.

1. Use a FOR loop to iterate each value in `keys`. For each key iterated, find the corresponding value in `word_freq` and insert the key-value pair to `word_freq2`.

Print out `word_freq2` to examine its keys and values. Your output should be:

```python
{'a': 8, 'about': 1, 'all': 1, 'although': 3, 'and': 23, 'are': 1, 'at': 1, 'baby': 14, 'backseat': 1, 'bag': 1, 'bar': 1, 'be': 16, 'bedsheets': 3, 'begin': 1, 'best': 1, 'body': 17, 'boy': 2, 'brand': 6, 'can': 1, 'chance': 1, 'club': 1, 'come': 37, 'conversation': 1, 'crazy': 2, 'dance': 1, 'date': 1, 'day': 6, 'discovering': 6, 'do': 3, 'doing': 2, "don't": 2, 'drinking': 1, 'driver': 1, 'eat': 1, 'every': 6, 'falling': 3, 'family': 1, 'fast': 1, 'fill': 2, 'find': 1, 'first': 1, 'follow': 6, 'for': 3, 'friends': 1, 'get': 1, 'girl': 2, 'give': 1, 'go': 2, 'going': 1, 'grab': 2, 'hand': 1, 'handmade': 2, 'heart': 3, 'hours': 2, 'how': 1, 'i': 6, "i'll": 1, "i'm": 23, 'in': 27, 'is': 5, "isn't": 1, 'it': 1, 'jukebox': 1, 'just': 1, 'kiss': 1, 'know': 2, 'last': 3, 'lead': 6, 'leave': 1, 'let': 1, "let's": 2, 'like': 10, 'love': 25, 'lover': 1, 'magnet': 3, 'make': 1, 'man': 1, 'may': 2, 'me': 10, 'mind': 2, 'much': 2, 'my': 33, 'new': 6, 'night': 3, 'not': 2, 'now': 11, 'of': 6, 'okay': 1, 'on': 40, 'one': 1, 'our': 1, 'out': 1, 'over': 1, 'place': 1, 'plate': 1, 'play': 1, 'pull': 3, 'push': 3, 'put': 3, 'radio': 1, 'room': 3, 'say': 2, 'shape': 6, 'shots': 1, 'singing': 2, 'slow': 1, 'smell': 3, 'so': 2, 'somebody': 2, 'something': 6, 'sour': 1, 'start': 2, 'stop': 1, 'story': 1, 'sweet': 1, 'table': 1, 'take': 1, 'talk': 4, 'taxi': 1, 'tell': 1, 'that': 2, 'the': 18, 'then': 3, 'thrifty': 1, 'to': 2, 'too': 5, 'trust': 1, 'up': 3, 'van': 1, 'waist': 2, 'want': 2, 'was': 2, 'we': 7, "we're": 1, 'week': 1, 'were': 3, 'where': 1, 'with': 22, 'you': 16, 'your': 21}
```

In [86]:
# saving the exercise output to compare with our own
eg_output = {'a': 8, 'about': 1, 'all': 1, 'although': 3, 'and': 23, 'are': 1, 'at': 1, 'baby': 14, 'backseat': 1, 'bag': 1, 'bar': 1, 'be': 16, 'bedsheets': 3, 'begin': 1, 'best': 1, 'body': 17, 'boy': 2, 'brand': 6, 'can': 1, 'chance': 1, 'club': 1, 'come': 37, 'conversation': 1, 'crazy': 2, 'dance': 1, 'date': 1, 'day': 6, 'discovering': 6, 'do': 3, 'doing': 2, "don't": 2, 'drinking': 1, 'driver': 1, 'eat': 1, 'every': 6, 'falling': 3, 'family': 1, 'fast': 1, 'fill': 2, 'find': 1, 'first': 1, 'follow': 6, 'for': 3, 'friends': 1, 'get': 1, 'girl': 2, 'give': 1, 'go': 2, 'going': 1, 'grab': 2, 'hand': 1, 'handmade': 2, 'heart': 3, 'hours': 2, 'how': 1, 'i': 6, "i'll": 1, "i'm": 23, 'in': 27, 'is': 5, "isn't": 1, 'it': 1, 'jukebox': 1, 'just': 1, 'kiss': 1, 'know': 2, 'last': 3, 'lead': 6, 'leave': 1, 'let': 1, "let's": 2, 'like': 10, 'love': 25, 'lover': 1, 'magnet': 3, 'make': 1, 'man': 1, 'may': 2, 'me': 10, 'mind': 2, 'much': 2, 'my': 33, 'new': 6, 'night': 3, 'not': 2, 'now': 11, 'of': 6, 'okay': 1, 'on': 40, 'one': 1, 'our': 1, 'out': 1, 'over': 1, 'place': 1, 'plate': 1, 'play': 1, 'pull': 3, 'push': 3, 'put': 3, 'radio': 1, 'room': 3, 'say': 2, 'shape': 6, 'shots': 1, 'singing': 2, 'slow': 1, 'smell': 3, 'so': 2, 'somebody': 2, 'something': 6, 'sour': 1, 'start': 2, 'stop': 1, 'story': 1, 'sweet': 1, 'table': 1, 'take': 1, 'talk': 4, 'taxi': 1, 'tell': 1, 'that': 2, 'the': 18, 'then': 3, 'thrifty': 1, 'to': 2, 'too': 5, 'trust': 1, 'up': 3, 'van': 1, 'waist': 2, 'want': 2, 'was': 2, 'we': 7, "we're": 1, 'week': 1, 'were': 3, 'where': 1, 'with': 22, 'you': 16, 'your': 21}

* Trying the step by step method proposed by the exercise

In [87]:
# sort the keys
keys = sorted(word_freq)

In [88]:
# print type -- yeah, it s a list ;)
type(keys)

list

In [89]:
# creating an empty dictionary
word_freq2 = {}

In [90]:
# using a for loop
for i in keys:
    word_freq2.update({i:word_freq[i]})

* Using dictionary comprehension and the sorted() function at the same expression

In [91]:
# the simplest way to sort a dictionary is by iterating through a 
word_freq2 = {i:word_freq[i] 
              for i in sorted(word_freq)}

#### Let's check if word_freq2 is equal to the exercise output

In [92]:
word_freq2 == eg_output

True

In [93]:
print(word_freq2)

{'a': 8, 'about': 1, 'all': 1, 'although': 3, 'and': 23, 'are': 1, 'at': 1, 'baby': 14, 'backseat': 1, 'bag': 1, 'bar': 1, 'be': 16, 'bedsheets': 3, 'begin': 1, 'best': 1, 'body': 17, 'boy': 2, 'brand': 6, 'can': 1, 'chance': 1, 'club': 1, 'come': 37, 'conversation': 1, 'crazy': 2, 'dance': 1, 'date': 1, 'day': 6, 'discovering': 6, 'do': 3, 'doing': 2, "don't": 2, 'drinking': 1, 'driver': 1, 'eat': 1, 'every': 6, 'falling': 3, 'family': 1, 'fast': 1, 'fill': 2, 'find': 1, 'first': 1, 'follow': 6, 'for': 3, 'friends': 1, 'get': 1, 'girl': 2, 'give': 1, 'go': 2, 'going': 1, 'grab': 2, 'hand': 1, 'handmade': 2, 'heart': 3, 'hours': 2, 'how': 1, 'i': 6, "i'll": 1, "i'm": 23, 'in': 27, 'is': 5, "isn't": 1, 'it': 1, 'jukebox': 1, 'just': 1, 'kiss': 1, 'know': 2, 'last': 3, 'lead': 6, 'leave': 1, 'let': 1, "let's": 2, 'like': 10, 'love': 25, 'lover': 1, 'magnet': 3, 'make': 1, 'man': 1, 'may': 2, 'me': 10, 'mind': 2, 'much': 2, 'my': 33, 'new': 6, 'night': 3, 'not': 2, 'now': 11, 'of': 6, 'okay': 1, 'on': 40, 'one': 1, 'our': 1, 'out': 1, 'over': 1, 'place': 1, 'plate': 1, 'play': 1, 'pull': 3, 'push': 3, 'put': 3, 'radio': 1, 'room': 3, 'say': 2, 'shape': 6, 'shots': 1, 'singing': 2, 'slow': 1, 'smell': 3, 'so': 2, 'somebody': 2, 'something': 6, 'sour': 1, 'start': 2, 'stop': 1, 'story': 1, 'sweet': 1, 'table': 1, 'take': 1, 'talk': 4, 'taxi': 1, 'tell': 1, 'that': 2, 'the': 18, 'then': 3, 'thrifty': 1, 'to': 2, 'too': 5, 'trust': 1, 'up': 3, 'van': 1, 'waist': 2, 'want': 2, 'was': 2, 'we': 7, "we're": 1, 'week': 1, 'were': 3, 'where': 1, 'with': 22, 'you': 16, 'your': 21}

#### Sort the values of `word_freq` ascendingly.

Sorting the values of a dictionary is more tricky than sorting the keys because a dictionary's values are not unique. Therefore you cannot use the same way you sorted dict keys to sort dict values.

The way to sort a dict by value is to utilize the `sorted` and `operator.itemgetter` functions. The following code snippet is provided to you to try. It will give you a list of tuples in which each tuple contains the key and value of a dict item. And the list is sorted based on the dict value ([reference](http://thomas-cokelaer.info/blog/2017/12/how-to-sort-a-dictionary-by-values-in-python/)
).

```python
import operator
sorted_tups = sorted(word_freq.items(), key=operator.itemgetter(1))
print(sorted_tups)
```

Therefore, the steps to sort `word_freq` by value are:

* Using `sorted` and `operator.itemgetter`, obtain a list of tuples of the dict key-value pairs which is sorted on the value.

* Create an empty dictionary named `word_freq2`.

* Iterate the list of tuples. Insert each key-value pair into `word_freq2` as an object.

Print `word_freq2` to confirm your dictionary has its values sorted. Your output should be:

```python
{'conversation': 1, "we're": 1, 'plate': 1, 'sour': 1, 'jukebox': 1, 'taxi': 1, 'fast': 1, 'bag': 1, 'man': 1, 'going': 1, 'one': 1, 'backseat': 1, 'friends': 1, 'take': 1, 'play': 1, 'okay': 1, 'begin': 1, 'over': 1, 'just': 1, 'are': 1, 'tell': 1, 'drinking': 1, 'our': 1, 'where': 1, "i'll": 1, 'all': 1, "isn't": 1, 'make': 1, 'lover': 1, 'get': 1, 'radio': 1, 'give': 1, 'can': 1, 'club': 1, 'it': 1, 'out': 1, 'chance': 1, 'first': 1, 'table': 1, 'thrifty': 1, 'driver': 1, 'slow': 1, 'dance': 1, 'trust': 1, 'family': 1, 'week': 1, 'date': 1, 'leave': 1, 'at': 1, 'hand': 1, 'how': 1, 'eat': 1, 'about': 1, 'story': 1, 'sweet': 1, 'best': 1, 'let': 1, 'van': 1, 'shots': 1, 'place': 1, 'find': 1, 'kiss': 1, 'stop': 1, 'bar': 1, "don't": 2, 'mind': 2, 'know': 2, 'so': 2, 'start': 2, 'boy': 2, 'girl': 2, 'singing': 2, 'doing': 2, 'somebody': 2, 'handmade': 2, 'may': 2, 'that': 2, 'much': 2, 'grab': 2, 'was': 2, 'say': 2, 'waist': 2, 'want': 2, "let's": 2, 'not': 2, 'crazy': 2, 'go': 2, 'to': 2, 'fill': 2, 'hours': 2, 'push': 3, 'then': 3, 'put': 3, 'room': 3, 'magnet': 3, 'up': 3, 'pull': 3, 'last': 3, 'do': 3, 'smell': 3, 'although': 3, 'falling': 3, 'were': 3, 'night': 3, 'heart': 3, 'for': 3, 'bedsheets': 3, 'talk': 4, 'too': 5, 'is': 5, 'every': 6, 'new': 6, 'follow': 6, 'brand': 6, 'of': 6, 'i': 6, 'day': 6, 'lead': 6, 'shape': 6, 'discovering': 6, 'something': 6, 'we': 7, 'a': 8, 'like': 10, 'me': 10, 'now': 11, 'baby': 14, 'you': 16, 'be': 16, 'body': 17, 'the': 18, 'your': 21, 'with': 22, "i'm": 23, 'and': 23, 'love': 25, 'in': 27, 'my': 33, 'come': 37, 'on': 40}
```

In [94]:
# saving the exercise output 
eg_output2 = {'conversation': 1, "we're": 1, 'plate': 1, 'sour': 1, 'jukebox': 1, 'taxi': 1, 'fast': 1, 'bag': 1, 'man': 1, 'going': 1, 'one': 1, 'backseat': 1, 'friends': 1, 'take': 1, 'play': 1, 'okay': 1, 'begin': 1, 'over': 1, 'just': 1, 'are': 1, 'tell': 1, 'drinking': 1, 'our': 1, 'where': 1, "i'll": 1, 'all': 1, "isn't": 1, 'make': 1, 'lover': 1, 'get': 1, 'radio': 1, 'give': 1, 'can': 1, 'club': 1, 'it': 1, 'out': 1, 'chance': 1, 'first': 1, 'table': 1, 'thrifty': 1, 'driver': 1, 'slow': 1, 'dance': 1, 'trust': 1, 'family': 1, 'week': 1, 'date': 1, 'leave': 1, 'at': 1, 'hand': 1, 'how': 1, 'eat': 1, 'about': 1, 'story': 1, 'sweet': 1, 'best': 1, 'let': 1, 'van': 1, 'shots': 1, 'place': 1, 'find': 1, 'kiss': 1, 'stop': 1, 'bar': 1, "don't": 2, 'mind': 2, 'know': 2, 'so': 2, 'start': 2, 'boy': 2, 'girl': 2, 'singing': 2, 'doing': 2, 'somebody': 2, 'handmade': 2, 'may': 2, 'that': 2, 'much': 2, 'grab': 2, 'was': 2, 'say': 2, 'waist': 2, 'want': 2, "let's": 2, 'not': 2, 'crazy': 2, 'go': 2, 'to': 2, 'fill': 2, 'hours': 2, 'push': 3, 'then': 3, 'put': 3, 'room': 3, 'magnet': 3, 'up': 3, 'pull': 3, 'last': 3, 'do': 3, 'smell': 3, 'although': 3, 'falling': 3, 'were': 3, 'night': 3, 'heart': 3, 'for': 3, 'bedsheets': 3, 'talk': 4, 'too': 5, 'is': 5, 'every': 6, 'new': 6, 'follow': 6, 'brand': 6, 'of': 6, 'i': 6, 'day': 6, 'lead': 6, 'shape': 6, 'discovering': 6, 'something': 6, 'we': 7, 'a': 8, 'like': 10, 'me': 10, 'now': 11, 'baby': 14, 'you': 16, 'be': 16, 'body': 17, 'the': 18, 'your': 21, 'with': 22, "i'm": 23, 'and': 23, 'love': 25, 'in': 27, 'my': 33, 'come': 37, 'on': 40}

In [95]:
import operator

In [96]:
# sort the dataset by items(), 
sortedValues = sorted(word_freq.items(), 
                      key=operator.itemgetter(1))

In [97]:
print(sortedValues)

[('conversation', 1), ("we're", 1), ('plate', 1), ('sour', 1), ('jukebox', 1), ('taxi', 1), ('fast', 1), ('bag', 1), ('man', 1), ('going', 1), ('one', 1), ('backseat', 1), ('friends', 1), ('take', 1), ('play', 1), ('okay', 1), ('begin', 1), ('over', 1), ('just', 1), ('are', 1), ('tell', 1), ('drinking', 1), ('our', 1), ('where', 1), ("i'll", 1), ('all', 1), ("isn't", 1), ('make', 1), ('lover', 1), ('get', 1), ('radio', 1), ('give', 1), ('can', 1), ('club', 1), ('it', 1), ('out', 1), ('chance', 1), ('first', 1), ('table', 1), ('thrifty', 1), ('driver', 1), ('slow', 1), ('dance', 1), ('trust', 1), ('family', 1), ('week', 1), ('date', 1), ('leave', 1), ('at', 1), ('hand', 1), ('how', 1), ('eat', 1), ('about', 1), ('story', 1), ('sweet', 1), ('best', 1), ('let', 1), ('van', 1), ('shots', 1), ('place', 1), ('find', 1), ('kiss', 1), ('stop', 1), ('bar', 1), ("don't", 2), ('mind', 2), ('know', 2), ('so', 2), ('start', 2), ('boy', 2), ('girl', 2), ('singing', 2), ('doing', 2), ('somebody', 2), ('handmade', 2), ('may', 2), ('that', 2), ('much', 2), ('grab', 2), ('was', 2), ('say', 2), ('waist', 2), ('want', 2), ("let's", 2), ('not', 2), ('crazy', 2), ('go', 2), ('to', 2), ('fill', 2), ('hours', 2), ('push', 3), ('then', 3), ('put', 3), ('room', 3), ('magnet', 3), ('up', 3), ('pull', 3), ('last', 3), ('do', 3), ('smell', 3), ('although', 3), ('falling', 3), ('were', 3), ('night', 3), ('heart', 3), ('for', 3), ('bedsheets', 3), ('talk', 4), ('too', 5), ('is', 5), ('every', 6), ('new', 6), ('follow', 6), ('brand', 6), ('of', 6), ('i', 6), ('day', 6), ('lead', 6), ('shape', 6), ('discovering', 6), ('something', 6), ('we', 7), ('a', 8), ('like', 10), ('me', 10), ('now', 11), ('baby', 14), ('you', 16), ('be', 16), ('body', 17), ('the', 18), ('your', 21), ('with', 22), ("i'm", 23), ('and', 23), ('love', 25), ('in', 27), ('my', 33), ('come', 37), ('on', 40)]

In [98]:
print(dict(sortedValues))

{'conversation': 1, "we're": 1, 'plate': 1, 'sour': 1, 'jukebox': 1, 'taxi': 1, 'fast': 1, 'bag': 1, 'man': 1, 'going': 1, 'one': 1, 'backseat': 1, 'friends': 1, 'take': 1, 'play': 1, 'okay': 1, 'begin': 1, 'over': 1, 'just': 1, 'are': 1, 'tell': 1, 'drinking': 1, 'our': 1, 'where': 1, "i'll": 1, 'all': 1, "isn't": 1, 'make': 1, 'lover': 1, 'get': 1, 'radio': 1, 'give': 1, 'can': 1, 'club': 1, 'it': 1, 'out': 1, 'chance': 1, 'first': 1, 'table': 1, 'thrifty': 1, 'driver': 1, 'slow': 1, 'dance': 1, 'trust': 1, 'family': 1, 'week': 1, 'date': 1, 'leave': 1, 'at': 1, 'hand': 1, 'how': 1, 'eat': 1, 'about': 1, 'story': 1, 'sweet': 1, 'best': 1, 'let': 1, 'van': 1, 'shots': 1, 'place': 1, 'find': 1, 'kiss': 1, 'stop': 1, 'bar': 1, "don't": 2, 'mind': 2, 'know': 2, 'so': 2, 'start': 2, 'boy': 2, 'girl': 2, 'singing': 2, 'doing': 2, 'somebody': 2, 'handmade': 2, 'may': 2, 'that': 2, 'much': 2, 'grab': 2, 'was': 2, 'say': 2, 'waist': 2, 'want': 2, "let's": 2, 'not': 2, 'crazy': 2, 'go': 2, 'to': 2, 'fill': 2, 'hours': 2, 'push': 3, 'then': 3, 'put': 3, 'room': 3, 'magnet': 3, 'up': 3, 'pull': 3, 'last': 3, 'do': 3, 'smell': 3, 'although': 3, 'falling': 3, 'were': 3, 'night': 3, 'heart': 3, 'for': 3, 'bedsheets': 3, 'talk': 4, 'too': 5, 'is': 5, 'every': 6, 'new': 6, 'follow': 6, 'brand': 6, 'of': 6, 'i': 6, 'day': 6, 'lead': 6, 'shape': 6, 'discovering': 6, 'something': 6, 'we': 7, 'a': 8, 'like': 10, 'me': 10, 'now': 11, 'baby': 14, 'you': 16, 'be': 16, 'body': 17, 'the': 18, 'your': 21, 'with': 22, "i'm": 23, 'and': 23, 'love': 25, 'in': 27, 'my': 33, 'come': 37, 'on': 40}

# Alternative method using dataframes
#### Convert `word_freq` into Pandas dataframes

In your future work, you may need to convert Python dictionaries to Pandas dataframes. So let's practice this by converting `word_freq`.

**First, import the `pandas` library.**

In [99]:
import pandas as pd

**Then, use the `pd.DataFrame()` constructor to convert `word_freq` into a dataframe.**

Here's a [reference](https://stackoverflow.com/questions/18837262/convert-python-dict-into-a-dataframe) to show you how to accomplish this. Also name the two columns of the dataframe as `word` and `freq`.

Assign the converted value to a variable called `df`. The first few rows of `df` should look like this:

![df](df.png)

In [100]:
word_freq2.values()

dict_values([8, 1, 1, 3, 23, 1, 1, 14, 1, 1, 1, 16, 3, 1, 1, 17, 2, 6, 1, 1, 1, 37, 1, 2, 1, 1, 6, 6, 3, 2, 2, 1, 1, 1, 6, 3, 1, 1, 2, 1, 1, 6, 3, 1, 1, 2, 1, 2, 1, 2, 1, 2, 3, 2, 1, 6, 1, 23, 27, 5, 1, 1, 1, 1, 1, 2, 3, 6, 1, 1, 2, 10, 25, 1, 3, 1, 1, 2, 10, 2, 2, 33, 6, 3, 2, 11, 6, 1, 40, 1, 1, 1, 1, 1, 1, 1, 3, 3, 3, 1, 3, 2, 6, 1, 2, 1, 3, 2, 2, 6, 1, 2, 1, 1, 1, 1, 1, 4, 1, 1, 2, 18, 3, 1, 2, 5, 1, 3, 1, 2, 2, 2, 7, 1, 1, 3, 1, 22, 16, 21])

In [101]:
# Method 1
df = pd.DataFrame([word_freq.keys(), 
                   word_freq.values()]).T

In [102]:
df.columns = ['word', 'freq']
#mudar nome das colunas de 0,1 para word e freq

In [103]:
df.head()

           word freq
0          love   25
1  conversation    1
2         every    6
3         we're    1
4         plate    1

In [104]:
# method 2
df = pd.DataFrame.from_dict(word_freq,
                           orient='index')

In [105]:
df = df.reset_index()

In [106]:
df.head()

          index   0
0          love  25
1  conversation   1
2         every   6
3         we're   1
4         plate   1

In [107]:
# Method 3
word_freq_dict = {'word': list(word_freq.keys()),
                  'freq': list(word_freq.values())}

In [108]:
df = pd.DataFrame(data=word_freq_dict)

In [109]:
df.head()

           word  freq
0          love    25
1  conversation     1
2         every     6
3         we're     1
4         plate     1

With the Pandas DataFrame, you can sort the values easily with the built-in method `sort_values` ([reference](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.sort_values.html)).

#### Sort `df` ascendingly based on column `word`.

In [110]:
# Your code here
df.sort_values(by='word').head()

         word  freq
120         a     8
109     about     1
43        all     1
96   although     3
72        and    23

#### Sort `df` ascendingly based on column `freq`.

In [111]:
# Your code here
df.sort_values(by='freq',ascending=True)#.head()

     word  freq
139   bar     1
114   let     1
116   van     1
60    out     1
57     it     1
..    ...   ...
0    love    25
65     in    27
121    my    33
56   come    37
126    on    40

[140 rows x 2 columns]