# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources in the README.md file
- Happy learning!

In [1]:
import numpy as np
import pandas as pd

# Challenge - Inside a function
You are already familiar with several built in functions on python as well as libraries. Let's try to figure out how they are made in pure python.

Create a function that returns the count of a list of numbers

In [6]:
#For this function we will need a counter variable and a for that iterates
#trough every element in the given list
def count_rutz(listofnumbers):
    counter=0
    for number in listofnumbers:
        counter+=1
    return counter

Create a function that returns the mean of a list of numbers

In [7]:
#For this function we will need a counter variable and a for that iterates
#trough every element in the given list as well as our previous function 
def mean_rutz(listofnumbers):
    lenoflist = count_rutz(listofnumbers)
    sumoflist = 0
    for number in listofnumbers:
        sumoflist += number
    meanoflist=sumoflist/lenoflist
    return meanoflist

Create a function that returns the standard deviation of a list of numbers using the previous functions you created.

In [8]:
#For this function we will need a counter variable and a for that iterates
#trough every element in the given list as well as our previous functions 
def std_rutz(listofnumbers):
    meanoflist= mean_rutz(listofnumbers)
    lenoflist = count_rutz(listofnumbers)
    var=0
    for number in listofnumbers:
        var+= (number - meanoflist)**2
        std = (var/(lenoflist-1))**(0.5)
    return(std)

Create a function that returns the count, mean and standard deviation of a given list. Document this function using triple quotes, your documentation should have description, parameters, returns and examples.

In [9]:
#For this function we will call our previous functions, notice that here we will return multiple variables in the same line
def describe_rutz(listofnumbers):
    """Returns mean, count and standard deviation of a given list
    Parameters: a numeric list
    Return: 3 numeric variables with mean, count and standard deviation 
    Example:
    input: [5,6,888,496,216,1,65,7]
    output: 8, 210.5, 323.16957070332506"""
    meanoflist= mean_rutz(listofnumbers)
    lenoflist = count_rutz(listofnumbers)
    stdoflist = std_rutz(listofnumbers)
    return lenoflist,meanoflist,stdoflist

In [11]:
count_lst,mean_lst, std_lst = describe_rutz([5,6,888,496,216,1,65,7])

In [12]:
print(count_lst)
print(mean_lst)
print(std_lst)

8
210.5
323.16957070332506

# Challenge  - String Cleaning
When working with textual data you will often have to clean it before being able to analyze it. Create a function that receives a string and returns that string in all lower case and without special characters.

In [13]:
# Your code here:
def string_cleaning(phrase):
    new_string=""
    alpha= [character for character in phrase if character.isalnum()]
    return new_string.join(alpha)

In [14]:
string_cleaning("xnsimx_vcdsmc o34238900.,/?xedxmew")

'xnsimxvcdsmco34238900xedxmew'

# Challenge  - Classification
Sometimes datasets provide very good and precise information but not in the way we need to use it. In this challenge, make a function that takes a numeric value (age or income for example) and turns it into a category (could be from Very Low to Very High or rated from 0 to 10).

In [12]:
# Your code here:
def classifier(lst):
    very_low=min(lst)
    very_high=max(lst)
    medium= lst[int(len(lst)/2)]
    for i in range(len(lst)):
        if lst[i] == very_low:
            lst[i]="Very low"
        elif lst[i] == very_high:
            lst[i]="Very High"
        elif lst[i] == medium:
            lst[i]="Mean"
        elif lst[i]<medium:
            lst[i]= "Low"
        elif lst[i]>medium:
            lst[i] = "High"
    return lst

In [13]:
classifier([0,900000,54366,250,4889,318916,318,149856])

['Very low', 'Very High', 'High', 'Low', 'Mean', 'High', 'Low', 'High']

# Challenge  - Recursion 
In some cases it is interesting to build a function that calls itself. Use a recursive function that asks for an input from the users age and keeps asking for it until the input is a number between 0 and 150.

In [1]:
# Your code here:
def number150():
    number= input("Please Insert Your Age")
    if number.isalpha():
        number150()
    else:
        if int(number)>150:
            number150()
        elif int(number)<0:
            number150()
        else:
            return f"Your Age is {number}"

In [ ]:
print(number150())

# Challenge - Global and local variables

Make a function that returns the buzz string in alphabetical order

In [47]:
buzz = "Big Data, Machine Learning, AI, Data Warehouse, Pipeline"
def alphabetical(string):
    new_string=" "
    return new_string.join(sorted(string.split(", ")))

In [48]:
buzz=alphabetical(buzz)

In [51]:
buzz

'AI Big Data Data Warehouse Machine Learning Pipeline'

Make a function without return that modifies the buzz string and puts it in alphabetical order

In [52]:
buzz = "Big Data, Machine Learning, AI, Data Warehouse, Pipeline"
def alphabetical():
    global buzz
    new_string=" "
    buzz = new_string.join(sorted(buzz.split(", ")))

In [53]:
alphabetical()
buzz

'AI Big Data Data Warehouse Machine Learning Pipeline'

# Bonus Challenge  - Applying Functions to DataFrames

In this challenge, we will look at how to transform cells or entire columns at once.

In [1]:
import pandas as pd

In [2]:
iris_numeric = pd.DataFrame(data =[[5.1,3.5,1.4,0.2], [4.9,3,1.4,0.2],[4.7,3.2,1.3,0.2],[4.6,3.1,1.5,0.2],[5,3.6,1.4,0.2],[5.4,3.9,1.7,0.4],[4.6,3.4,1.4,0.3],[5,3.4,1.5,0.2],[4.4,2.9,1.4,0.2],[4.9,3.1,1.5,0.1]],columns = ['sepal_length', 'sepal_width', 'petal_length','petal_width'])

Let's look at the dataset using the `head` function.

In [3]:
# Your code here:
iris_numeric.head()

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

Let's start off by using built-in functions. Try to use the numpy mean function and describe what happens in the comments of the code.

Expected output:
````python
sepal_length    4.86
sepal_width     3.31
petal_length    1.45
petal_width     0.22
dtype: float64
````

In [7]:
iris_numeric.mean()
#The values for each column are used to calculate a mean, in this dataframe 4 means were generated and displayed in a oandas data series

sepal_length    4.86
sepal_width     3.31
petal_length    1.45
petal_width     0.22
dtype: float64

Next, we'll use the standard deviation function in numpy (np.std). Describe what happened in the comments.

In [5]:
iris_numeric.std()

sepal_length    0.291357
sepal_width     0.307137
petal_length    0.108012
petal_width     0.078881
dtype: float64

The measurements are in centimeters. Let's convert them all to inches. We will write a function that converts centimeters to inches in the cell below. Recall that 1cm = 0.393701in.

In [11]:
def cm_to_in(x):
    # This function takes in a numeric value in centimeters and converts it to inches
    # Input: numeric value
    # Output: float
    
    # Sample Input: 1.0
    # Sample Output: 0.393701
    
    # Your code here:
    return(x *0.393700787)

Now convert all columns in `iris_numeric` to inches in the cell below. We like to think of functional transformations as immutable. Therefore, save the transformed data in a dataframe called `iris_inch`.


#### WARNING: the following 'for loop' code is not a good practice, we're only using it as a pedagogical  way to connect the dots from what we have learn from for loop.

##### So, let's try to iterate through each pandas's object row using a for loop:

In [12]:
# first method: iterate through each column using for loop
# note that each column from a pandas data frame is an array, and so we can use the for loop to transform each element

iris_inch_sepal_length = []
for i in iris_numeric.sepal_length:
    iris_inch_sepal_length.append(cm_to_in(i))

# we can also use for loop in a comprehension list method
iris_inch_sepal_width = [cm_to_in(i) for i in iris_numeric.sepal_width]

iris_inch_petal_length = [cm_to_in(i) for i in iris_numeric.petal_length]

iris_inch_petal_width = [cm_to_in(i) for i in iris_numeric.petal_width]

##### So we we had to iterate through each array using a for loop.
Now, we're going to create a list of lists with each for loop output

In [13]:
# then we should create a list of lists with the converted results
iris_lists = [iris_inch_sepal_length, 
               iris_inch_sepal_width, 
               iris_inch_petal_length, 
               iris_inch_petal_width]

##### Let's then create a dataframe with iris_lists
Now, we're going to create a list of lists with each for loop output

In [14]:
# after that transform the list of lists into a data frame again
df_iris = pd.DataFrame(iris_lists)

In [15]:
df_iris.head()

,0,1,2,3,4,5,6,7,8,9
0,2.007874,1.929134,1.850394,1.811024,1.968504,2.125984,1.811024,1.968504,1.732283,1.929134
1,1.377953,1.181102,1.259843,1.220472,1.417323,1.535433,1.338583,1.338583,1.141732,1.220472
2,0.551181,0.551181,0.511811,0.590551,0.551181,0.669291,0.551181,0.590551,0.551181,0.590551
3,0.078740,0.078740,0.078740,0.078740,0.078740,0.157480,0.118110,0.078740,0.078740,0.039370

##### As we can see, the imported data has a differente shape compared to the original dataset

* In order to follow to correct the problem, we have to transpose the values, as we can do at Excel
* To invert the data we use the method T

In [16]:
# transpose the data 
df_iris = df_iris.T

In [17]:
# showing the data transposed
df_iris.head()

          0         1         2        3
0  2.007874  1.377953  0.551181  0.07874
1  1.929134  1.181102  0.551181  0.07874
2  1.850394  1.259843  0.511811  0.07874
3  1.811024  1.220472  0.590551  0.07874
4  1.968504  1.417323  0.551181  0.07874

In [19]:
# and finally rename the columns
df_iris.columns = iris_numeric.columns

In [20]:
df_iris.head()

   sepal_length  sepal_width  petal_length  petal_width
0      2.007874     1.377953      0.551181      0.07874
1      1.929134     1.181102      0.551181      0.07874
2      1.850394     1.259843      0.511811      0.07874
3      1.811024     1.220472      0.590551      0.07874
4      1.968504     1.417323      0.551181      0.07874

#### The following method is quite simple and more and a good practice to iterate through each pandas dataframe row

In [21]:
# method 2: use the apply function
iris_inch = iris_numeric.apply(cm_to_in)

In [22]:
iris_inch.head()

   sepal_length  sepal_width  petal_length  petal_width
0      2.007874     1.377953      0.551181      0.07874
1      1.929134     1.181102      0.551181      0.07874
2      1.850394     1.259843      0.511811      0.07874
3      1.811024     1.220472      0.590551      0.07874
4      1.968504     1.417323      0.551181      0.07874

We have just found that the original measurements were off by a constant. Define the global constant `error` and set it to 2. Write a function that uses the global constant and adds it to each cell in the dataframe. Apply this function to `iris_numeric` and save the result in `iris_constant`.

In [26]:
# Define constant below:
error=2

def add_constant(x):
    # This function adds a global constant to our input.
    # Input: numeric value
    # Output: numeric value
    
    # Your code here:
    global error 
    return(x + error)

Read more about applying functions to either rows or columns [here](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.apply.html) and write a function that computes the maximum value for each row of `iris_numeric`

In [27]:
# Your code here:
iris_constant = iris_numeric.apply(add_constant)

Compute the combined lengths for each row and the combined widths for each row using a function. Assign these values to new columns `total_length` and `total_width`.

In [28]:
# Your code here:
total_length = iris_numeric[['sepal_length','petal_length']].apply(sum, axis=1);
total_width = iris_numeric[['sepal_width','petal_width']].apply(sum, axis=1);

In [29]:
total_length.head()

0    6.5
1    6.3
2    6.0
3    6.1
4    6.4
dtype: float64

In [30]:
total_width.head()

0    3.7
1    3.2
2    3.4
3    3.3
4    3.8
dtype: float64

# Bonus Challenge - Kata
You managed to send your friend to queue for tickets in your stead, but there is a catch: he will get there only if you tell him how much that is going to take. And everybody can only take one ticket at a time, then they go back in the last position of the queue if they need more (or go home if they are fine).

Each ticket takes one minutes to emit, the queue is well disciplined, Brit-style, and so it moves smoothly, with no waste of time.

You will be given an array/list/vector with all the people queuing and the initial position of your buddy, so for example, knowing that your friend is in the third position (that we will consider equal to the index, 2: he is the guy that wants 3 tickets!) and the initial queue is [2, 5, 3, 4, 6].

The first dude gets his ticket and the queue goes now like this [5, 3, 4, 6, 1], then [3, 4, 6, 1, 4] and so on. In the end, our buddy will be queuing for 12 minutes, true story!

Build a function to compute it, resting assured that only positive integers are going to be there and you will be always given a valid index; but we also want to go to pretty popular events, so be ready for big queues with people getting plenty of tickets.
https://www.codewars.com/kata/queue-time-counter