# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [7]:
# import numpy and pandas

import pandas as pd
import numpy as np
from scipy import stats

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [8]:
# Run this code:

pokemon = pd.read_csv('../pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [9]:
# Your code here:

pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [10]:
# Your code here:
pokemon['Legendary'].value_counts()

False    735
True      65
Name: Legendary, dtype: int64

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [11]:
# Your code here:
print('mean=',pokemon['Legendary'].mean())
print('standard deviation =',pokemon['Legendary'].std())

mean= 0.08125
standard deviation = 0.27338958434995064

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [13]:
# Your code here:
sample_01 =  pokemon.query('Legendary == True').reset_index(drop=True)
sample_02 =  pokemon.query('Legendary == False').reset_index(drop=True)

sample_02 = sample_02.sample(65).reset_index(drop=True)

In [14]:
stats.ttest_ind(sample_01['Total'],sample_02['Total'],equal_var=False)

Ttest_indResult(statistic=15.535729822317313, pvalue=3.36101793894789e-29)

What do you conclude from this test? Write your conclusions below.

In [ ]:
# Your conclusions here:

#H0 (hipótese nula)
#H1 (hipótese alternativa)
#Como pvalue<0.05 eu posso rejeitar a hipótese de que as médias de sample_01 e sampe_02 sejam iguais (hipótese nula) com uma confiança maior que 0.95

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [15]:
# Your code here:
pokemon['Type 1'].value_counts()

Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Rock         44
Electric     44
Ghost        32
Ground       32
Dragon       32
Dark         31
Poison       28
Steel        27
Fighting     27
Ice          24
Fairy        17
Flying        4
Name: Type 1, dtype: int64

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [16]:
# Your code here:
pokemon.groupby('Type 1').describe().loc[['Water']]

            #                                                            \
        count        mean         std  min    25%    50%     75%    max
Type 1
Water   112.0  303.089286  188.440807  7.0  130.0  275.0  456.25  693.0

        Total              ... Speed        Generation                         \
        count        mean  ...   75%    max      count      mean     std  min
Type 1                     ...
Water   112.0  430.455357  ...  82.0  122.0      112.0  2.857143  1.5588  1.0


        25%  50%  75%  max
Type 1
Water   1.0  3.0  4.0  6.0

[1 rows x 72 columns]

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [65]:
# Your code here:

sample01 = pokemon.query('`Type 1` == "Water"').reset_index(drop=True)
sample02 = pokemon.query('`Type 1` != "Water"').reset_index(drop=True)
sample02 = sample02.sample(112).reset_index(drop=True)

In [75]:
stats.ttest_ind(sample01['Total'],sample02['Total'])

Ttest_indResult(statistic=-0.829495618204513, pvalue=0.4077150490523773)

Write your conclusion below.

In [ ]:
# Your conclusions here:
"""p-value > 0.05"""

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [25]:
# Your code here:
from scipy.stats import ttest_rel
ttest_rel(pokemon['Attack'],pokemon['Defense'])

Ttest_relResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

Describe the results of the test in the cell below.

In [ ]:
# Your conclusions here:
"""The probability of this result is by acase is lower than 5%"""

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [27]:
# Your code here:
sample_01 = pokemon['Attack']
sample_02 = pokemon['Defense']
stats.ttest_ind(sample_01, sample_02)

Ttest_indResult(statistic=3.2417640740423126, pvalue=0.0012123980547321454)

Describe the results of the test in the cell below.

In [ ]:
# Your conclusions here:
""" The result is lower than 5%"""

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [29]:
pokemon['Defense'].mean()

73.8425

In [31]:
# Your code here:
stats.ttest_1samp(pokemon['Attack'], 73.8425)

Ttest_1sampResult(statistic=4.4954813919438585, pvalue=7.967950832362132e-06)

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [ ]:
# Your code here:

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [ ]:
# Your code here:

Based on a 95% confidence, should we reject the null hypothesis?

In [ ]:
# Your answer here:

In [ ]:
#Este NÃO assume que as variâncias são iguais
import researchpy as rp

descriptives, results = rp.ttest(sample_01['cnt'],sample_02['cnt'])
descriptives
results

equal_variances=False